<div class="row">
  <div class="col-md-6">
    {% for skill in site.data.technical-skills limit: 10 %}
    <div class="mb-4">
      <span class="d-block mb-1">{{ skill.name }}</span>
      <div class="progress">
        <div class="progress-bar bg-{{ skill.color | default: 'primary' }}" 
             role="progressbar" 
             style="width: {{ skill.percentage }}%" 
             aria-valuenow="{{ skill.percentage }}" 
             aria-valuemin="0" 
             aria-valuemax="100">
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="col-md-6">
    {% for skill in site.data.technical-skills offset:10 %}
    <div class="mb-4">
      <span class="d-block mb-1">{{ skill.name }}</span>
      <div class="progress">
        <div class="progress-bar bg-{{ skill.color | default: 'primary' }}" 
             role="progressbar" 
             style="width: {{ skill.percentage }}%" 
             aria-valuenow="{{ skill.percentage }}" 
             aria-valuemin="0" 
             aria-valuemax="100">
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
